.c-edit-form {
  padding: 8px 20px;
  &-footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
  }
  .ant-picker, .ant-input-number {
    width: 100%;
  }
}