.c-datgui {
  width: 300px;
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4px 0;
  }
  .ant-collapse {
    border: none;
    &>.ant-collapse-item>.ant-collapse-header {
      padding: 8px 12px;
    }
    &-content,
    &-content-box {
      background-color: transparent;
    }
  }
  .ant-slider {
    width: 100%;
  }
}